<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Interpretor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/CSS/interpretorStyle.css">
    </head>
    <body>
        <h1>Hand Sign Recognition</h1>
        <video id="video" width="640" height="480" autoplay></video>
        <button id="startButton">Start Camera</button>
        <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../static/Js/app.js"></script>
        </body>
</html>